*{
  padding: 0;
  margin: 0;
}

//Cookiebanner formatierung
.js_enabled #cookie-message {
    display: none;
}

#cookie-message {
            background-color: #d5e6ed;
            color: #662d91;
            margin: 0 auto;
            padding: 1em;
}

#knopf {
 background-color: #bbb;
 padding: .5em;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 6px;
 color: #fff;
 font-family: 'Oswald';
 font-size: 20px;
 text-decoration: none;
 border: none;
}

#knopf:hover {
 border: none;
 background: orange;
 box-shadow: 0px 0px 1px #777;
}

body{
  background-color: #36393f;
  color: white;
  font-family: Calibri;
}

.content-container {
  width: 80%;
  margin: 14em auto 0;
}

#header {
  height:13em;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: -5px;
  overflow-y: hidden;
  transition: 0.5s;
}

.header_scroll_collapsed {
  height: 7em !important;
}

#header-image {
  background-image: url("header3.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 82%;
  filter: blur(3px);
}

#navbar{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2f3136;
}


#nav {
  margin: 0 10%;
  width: 80%;
}

#nav ul li{
  display: inline-block;
  width: 15%;
  text-align: center;
}

#current a{
  background-color: red;
}

#nav ul li a{
  font-size: 15pt;
  padding: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
}


#nav ul li:hover, #footer li:hover{
  background-color: #1565C0;
}

.textbox {
  background-color: #2f3136;
  padding: 1em;
  margin: 1em 0;
}

a:link, a:visited
{
color: white;
}


a:active, a:hover
{
color:blue;
}

/*-----------------für WEB Grundlagen & NodeJS------------------*/
.definition {
	background-color: orange;
	border-color: red;
	color: black;
	padding: 0.5% 1% 1% 1%
}

.definitionHeading {
	color: red;
}

.abbildung {
	text-align:center;
	font-style: italic;
}

.bild {
	width: 100%;
	height: auto;
}

.rot {
	color: red;
}

.gruen {
	color: LightGreen;
}

.textCode {
	font-family: "Courier New", Courier, monospace;
}

.liste {
	padding-left: 5%;
	padding-right: 5%;
}

.nodeBild {
	width: 60%;
	height: auto;
}

#cont {
	display:flex;
    	flex-direction:row;
	justify-content: space-around;
}

#side1 {
	display:flex;
    	flex-direction:column;
}
/*--------------------------------------------------------------*/

.footer-container {
  width: 100%;
  height: 30px;
  background-color: #2f3136;
}

#footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#footer li {
  display: inline-block;
  width: 49%;
  text-align: center;
  height: 100%;
}

#footer a {
  line-height: 1.6;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#navbar .icon {
  /*looks*/
  color: white;
  background-color: #2f3136;
  /*positioning*/
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  padding: 1em;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#navbar .icon hr {
  margin: 3px 0 0;
}

#info {
    font-weight: bold;
    color: aliceblue;
}

@media screen and (max-width: 768px) {

  .nodeBild {
	width: 100%;
	height: auto;
  }

  #header {
    overflow-y: unset;
  }
  #header-image {
    display: none;
  }

  #navbar {
    position: relative;
  }

  .icon {
    display: block !important;
  }
  .icon:hover {
    background-color: #1565C0 !important;
  }

  #nav {
    margin: 0;
    width: 100%;
    display: none;
  }

  #nav ul li {
    display: block;
    width: 100%;
  }

  .content-container {
    margin: 3em auto 0;
    width: 95%;
  }
  .content-container.not-collapsed {
    margin: 23em auto 0;
  }

  #nav.not-collapsed {
    display: block;
  }


}