body{
  background-color: #36393f;
  color: white;
  font-family: Calibri;
  <!-- Some settings to fix some ugly standard body settings so we can override them cleanly later -->
  padding: 0;
  margin: 0;
}

.content-container {
  width: 80%;
  margin: 14em auto 0;
}

#header {
  height:13em;
  width: 100%;
  position: fixed;
  top: 0;
  //hide the blur overflow from the background-picture;
  margin-top: -5px;
  overflow-y: hidden;
}

#header-image {
  background-image: url("header3.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 82%;
  filter: blur(3px);
}

#navbar{

  position: absolute;
  bottom: 0.01em;
  width: 100%;
  background-color: #2f3136;
}

nav {
  margin: 0 10%;
  width: 80%;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  width: 15%;
  text-align: center;
}

#current a{
  background-color: red;
}

nav ul li a{
  font-size: 15pt;
  padding: 0.5em;
  box-sizing: border-box;
  //box-sizing: padding + width 100% sorgen nicht mehr dafür dass das a element größer ist als es sollte;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
}

nav ul li:hover{
  background-color: #1565C0;
}

.textbox {
  background-color: #2f3136;
  padding: 1em;
  margin: 1em;
}
